<% if Rails.application.secrets.facebook_id || Rails.application.secrets.google_id %>
<div class="col-md-12 text-center">
    <% if Rails.application.secrets.facebook_id %>
    <a class="btn btn-default btn-social" href="/auth/facebook">
        <span class="fa fa-facebook"></span> | Sign in with Facebook
    </a>
    <% end %>
    <% if Rails.application.secrets.google_id %>
    <a class="btn btn-default btn-social" href="/auth/google_oauth2">
        <span class="fa fa-google"></span> | Sign in with Google
    </a>
    <% end %>
</div>
<% end %>