<% if @notes.count > 0 %>

<%= render @notes %>
<br/>

<div class="text-center col-md-12">
    <%= will_paginate @notes, renderer: BootstrapPagination::Rails %>
</div>

<% else %>
<div class="text-muted text-center fake-center">
    <h3>there are no notes here.<% if current_user && current_user.editor? %>.. would you like to <%= link_to 'write one', new_note_path %>?<% end %></h3>
</div>
<% end %>