<div class="row text-center">
    
    <% if @notes.count > 0 %>
    <%= render @notes %>
    <%= will_paginate @notes, renderer: BootstrapPagination::Rails %>
    <% else %>
    <h2>Nothing to see here!</h2>
    <% end %>

</div>

<% if current_user && current_user.editor? %>
<div class="row text-center">
    <%= link_to 'New note', new_note_path, :class => "btn btn-default" %>
</div>
<% end %>