<%= form_for([@commentable, Comment.new], :html => { :role => :form }) do |f| %>
<div class="form-group">
    <%= f.label :body, 'Add a comment as ' + current_user.name %>
    <%= f.text_area :body, class: "form-control md-editor comment-editor" %>
</div>
    <%= f.submit 'Leave comment', class: "btn btn-default" %>
<% end %>