<% if @people.count > 0 %>

<% @people.in_groups(3, false).each do |s_a| %>
    <div class="col-lg-4">
        <%= render s_a %>
    </div>
<% end %>
    
<br/>

<div class="text-center col-md-12">
    <%= will_paginate @people, renderer: BootstrapPagination::Rails %>
</div>

<% else %>
<div class="text-muted text-center fake-center">
    <h3>there are no people here.<% if current_user && current_user.editor? %>.. would you like to <%= link_to 'make one', new_person_path %>?<% end %></h3>
</div>
<% end %>