<div class="row text-center">
    
    <% if @people.count > 0 %>
    <%= render @people %>
    <%= will_paginate @people, renderer: BootstrapPagination::Rails %>
    <% else %>
    <h2>Nothing to see here!</h2>
    <% end %>

</div>

<% if current_user %>
<div class="row text-center">
    <%= link_to 'New person', new_person_path, :class => "btn btn-default" %>
</div>
<% end %>