<h2>mitchell's 10-second guide to familiar</h2>
<ol>
    <li>Sign in to Facebook using the button in the top right corner</li>
    <li>Click the "People" link above to see the people in the family tree</li>
    <li>Click the "Photos" link above to see photos that have been uploaded to the website</li>
    <li>If you followed step #1, you can also add people and photos to the website</li>
</ol>
<p>That's it! That's all the website can currently do.</p>

<h2>more help</h2>
<h3>What is familiar?</h3>
<p><strong>Familiar</strong> is a genealogy website builder created by <a href="http://rysavys.me/">yours truly, Mitchell Rysavy</a>.</p>

<h3>It doesn't work.</h3>
<p>What doesn't work? There are almost certainly bugs, but I have to know the problem you're having in order to fix it.</p>

<h3>How can I contact you?</h3>
<p>Send me an email to <a href="mailto:mitchell.rysavy@gmail.com">mitchell.rysavy@gmail.com</a>.</p>