<h3>User management</h3>
<table class="table table-hover">
    <% if @users.count > 0 %>
    <thead>
        <tr>
            <th>Username</th>
            <th>Editor?</th>
        </tr>
    </thead>
    <% @users.each do |u| %>
    <tr>
        <td><%= u.name %></td>
        <td><%= if u.editor? then 'Yes' else 'No' end %></td>
    </tr>
    <% end %>

    <div class="text-center col-md-12">
        <%= will_paginate @users, renderer: BootstrapPagination::Rails %>
    </div>
    
    <% else %>
    
    <% end %>
</table>