<div class="text-center">
    <% if @user.image.present? %>
    <div class="col-lg-12">
        <img src="<%= @user.image %>" class="center-block img-responsive avatar-rounded-small" >
    </div>
    <% end %>
    
    <h2><%= @user.name %></h2>
</div>