<h3 class="text-center">Import GrampsXML</h3>
<br>

<%= form_tag('/import/', multipart: true, :accept => 'text/xml') do %>

<div class="form-horizontal">
    <div class="form-group">
        <%= label_tag :file, 'Select file to import', :class => "col-sm-4 control-label" %>
        <div class="col-sm-4">
            <%= file_field_tag :file, :class => "form-control" %>
        </div>
    </div>

    <div class="text-center">
        <%= submit_tag :upload, :class => "btn btn-default" %>
    </div>
</div>

<% end %>