<div class="col-md-4">
    <div class="panel panel-default">
        <% if photo.title.present? %>
        <div class="panel-heading">
            <a href="<%= photo_path(photo) %>"><h2 class="panel-title"><%= photo.title %></h2></a>
        </div>
        <% end %>
        <div class="panel-body">
            <%= image_tag photo.image.url(:medium), :class => "img-thumbnail" %>
        </div>
        <% if photo.date.present? %>
        <div class="panel-footer">
            <%= photo.date %>
        </div>
        <% end %>
    </div>
</div>