<div>
    <div class="pull-left thumb"><img class="img-fluid" src="<%= photo.image.url(:thumb) %>"></img></div>
    <div class="pull-left">
        <h4><a href="<%= photo_path(photo) %>"><%= photo.title %></a></h4>
        <% if photo.date.present? %>
        <h5 class="text-muted">Photo: <%= photo.date %></h5>
        <% else %>
        <h5 class="text-muted">Photo</h5>
        <% end %>
    </div>
    <div class="clearfix"></div>
</div>