<% if @photos.count > 0 %>

<%= render @photos %>
<br/>

<div class="text-center col-md-12">
    <%= will_paginate @photos, renderer: BootstrapPagination::Rails %>
</div>

<% else %>
<div class="text-muted text-center fake-center">
    <h3>there are no photos here.<% if current_user && current_user.editor? %>.. would you like to <%= link_to 'upload one', new_photo_path %>?<% end %></h3>
</div>
<% end %>