@import "bootstrap";
@import "font-awesome";

@import "export";
@import "md_editor";
@import "photos";
@import "sessions";

.panel-blue {
    // @extend .panel-info;
}

.panel-pink {
    // @extend .panel-info;
    border-color: #FFB6C1;
}

.panel-pink > .panel-heading {
    // @extend .panel-heading;
    border-color: #FFB6C1;
    color: #DB7093;
    background-color: #FFB6C1;
}

.panel-pink .panel-title {
    color: #DB7093;
}

.vertical-align {
    display: flex;
    align-items: center;
}

.fake-center {
    margin-top: 100px;
}

.thumb {
    width: 50px;
    height: 50px;
    overflow: hidden;
    background-color: black;
    display: flex;
    align-items: center;
    border: 1px solid #000000; 
    margin-right: 10px;
    margin-top: 10px;
    border-radius: 5px;
}

.fake-thumb {
    width: 50px;
    height: 50px;
    border: 1px solid #000000; 
    margin-right: 10px;
    padding-top: 0px;
    font-size: 40px;
    margin-top: 10px;
    border-radius: 5px;
}

.note-thumb {
    font-size: 35px;
    font-weight: bold;
}

.avatar-rounded {
    width: 200px;
    height: 200px;
    border-radius: 100px;
}

.avatar-rounded-small {
    width: 100px;
    height: 100px;
    border-radius: 50px;
}

.avatar-rounded-tiny {
    width: 50px;
    height: 50px;
    border-radius: 25px;
}

.btn-bottom {
    margin-bottom: 2em;
}